---
title: Alpha Karina
---
<div id="container">

  <div class="homeBg">
    <div class="header">

      <nav>
        <ul>               
          <li><a href="#notes">Notes</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>      
    
      <div>
        <h1 >ALPHA<span>KARINA</span></h1>
        <p>Livin' the Royale Dream</p>
      </div>

      <div class="browse">
        <a href="#testimonials">
        <i class="fa fa-chevron-circle-down fa-2x"></i></a>
      </div>      
    </div><!--.header-->
  </div><!--.homeBg-->  

  <div class="main">

    <section id="testimonials">

      <h1>My Royale Story</h1>
      <p>
        Five years ago, I set out on my overseas journey to start fulfilling my dreams of a much better future. As ambitious as I am with my life goals, I thought that sheer hard work alone was enough to succeed, it wasn't, it never is. We always need to have some other source of income to make our lives better off.
      </p>

      <p>
          Fortunately, I discovered Royale and I was instantly sold. The prospect of earning extra money with a fairly easy start, I knew it was an opportunity I could not pass, and I am glad I took the chance.
      </p>
      <p>
          Now I am happy with the success I've had and continue to have with Royale. </br></br>Surely, it gets better and better with Royale. :)
      </p></br>

      <h3><%= link_to "Get Started with Royale", "/start.html" %></h3>

    </section>
  </div><!--.main-->  

  <section class="module parallax parallax-1">

    <div class="container">  
      <h1>#Free<span>Falling</span></h1>        
        <div class="browse2">
          <a href="#notes">
          <i class="fa fa-chevron-circle-down fa-3x"></i></a>
        </div>
    </div><!--.container-->  

  </section>
        
  <div class="main">
    <section id="notes">
      <h1>Notes</h1>
      <p>
          This is still a work in Progress. Please check soon to read stories of other people's success with Royale.
      </p>

      <%= partial "partials/notes"%> 

    </section>
  </div><!--.main-->  

  <section class="module parallax parallax-2">
    <div class="container">  
      <h1>#Team<span>Happy</span></h1>
      <div class="browse2">
        <a href="#about">
        <i class="fa fa-chevron-circle-down fa-3x"></i></a>
      </div>
    </div><!--.container-->  
              
  </section>
        
  <div class="main">
    <section id="about">
      <h1>My Royale Story</h1>
      <p>
        Five years ago, I set out on my overseas journey to start fulfilling my dreams of a much better future. As ambitious as I am with my life goals, I thought that sheer hard work alone was enough to succeed, it wasn't, it never is. We always need to have some other source of income to make our lives better off.
      </p>

      <p>
          Fortunately, I discovered Royale and I was instantly sold. The prospect of earning extra money with a fairly easy start, I knew it was an opportunity I could not pass, and I am glad I took the chance.
      </p>
      <p>
          Now I am happy with the success I've had and continue to have with Royale. </br></br>Surely, it gets better and better with Royale. :)
      </p>
    </section>
  </div><!--.main-->  

  <section class="module parallax parallax-3">
    <div class="container">  
      <h1>#Flower<span>Power</span></h1>
      <div class="browse2">
        <a href="#contact">
          <i class="fa fa-chevron-circle-down fa-3x"></i></a>
      </div>
    </div><!--.container-->  
  </section>
          
              
  <div class="main">            
    <section id="contact">
      <h1>Contact</h1>
      <p>
          Thanks for visiting my page, I hope you get in touch.
      </br>
      </br>
          You can reach me by clicking on the email form below.
      </p>
      </br>

      <a href="mailto:alphakarinaroyale@gmail.com" class="social"> </a>
    </section>
  </div><!--.main-->

  <a href="#" class="scrollToTop"><span>Back To Top</span></a>

</div><!--container-->

<script src="https://squaresend.com/squaresend.js"></script>

