---
title: HTML5 Boilerplate Middleman
---
<div id="container">

  <div class="homeBg">
    <div class="header">
        <nav>
    <ul>
      <li class="logo"><a href="alpha">Alpha</a></li>      
      <li><a href="#notes">Notes</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>
      <div>
      <h1 >ALPHA<span>KARINA</span></h1>
      <p>Livin' the Royale Dream</p>
      </div>

      <div class="browse">
      <a href="#testimonials">
        <i class="fa fa-chevron-circle-down fa-2x"></i></a>
      </div>

    </div>
  </div>
  <div id="sidebar">
  <div id="nav-anchor"></div>
  
  </div>
  

  <div class="main">
  <section id="testimonials">
                <h1>Testimonials</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                    volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                    molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
                    eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
                    zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber
                    tempor cum soluta nobis eleifend option congue nihil imperdiet doming id
                    quod mazim placerat facer possim assum.
                </p>
            
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                    volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                    molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
                    eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
                    zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber
                    tempor cum soluta nobis eleifend option congue nihil imperdiet doming id
                    quod mazim placerat facer possim assum.
                </p>
            </section>
  </div>
  <section class="module parallax parallax-1">
                <div class="container">  
                <h1>#Free<span>Falling</span></h1>
                <div class="browse2">
      <a href="#notes">
        <i class="fa fa-chevron-circle-down fa-3x"></i></a>
      </div>
                </div>
            </section>
        
            <div class="main">
            <section id="notes">
                <h1>Notes</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                    volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                    molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
                    eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
                    zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber
                    tempor cum soluta nobis eleifend option congue nihil imperdiet doming id
                    quod mazim placerat facer possim assum.
                </p>
            
                <%= partial "partials/notes"%> 

            </section>
            </div>

            <section class="module parallax parallax-2">
                <div class="container">  
                <h1>#Team<span>Happy</span></h1>
                <div class="browse2">
      <a href="#about">
        <i class="fa fa-chevron-circle-down fa-3x"></i></a>
      </div>
                </div>
                
            </section>
        
            <div class="main">
            <section id="about">
                <h1>My Royale Story</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                    volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                    molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
                    eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
                    zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber
                    tempor cum soluta nobis eleifend option congue nihil imperdiet doming id
                    quod mazim placerat facer possim assum.
                </p>
            
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                    nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
                    volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
                    ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                    Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
                    molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
                    eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
                    zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber
                    tempor cum soluta nobis eleifend option congue nihil imperdiet doming id
                    quod mazim placerat facer possim assum.
                </p>
            </section>
            </div>

            <section class="module parallax parallax-3">
                <div class="container">  
                <h1>#Ms<span>Korea</span></h1>
                <div class="browse2">
      <a href="#contact">
        <i class="fa fa-chevron-circle-down fa-3x"></i></a>
      </div>
                </div>
            </section>
        
            
            <div class="main">            
            <section id="contact">
                <h1>Contact</h1>
                <p>
                    Thanks for visiting my page, I hope you get in touch.
                </br>
                </br>
                    You can reach me by clicking on the email form below.
                </p>
                </br> 
                <a href="mailto:alphakarinaroyale@gmail.com" class="social"> </a>     
                
            </section>
            
            </div>

            <a href="#" class="scrollToTop"><span>Back To Top</span></a>

            
            <script src="https://squaresend.com/squaresend.js"></script>
            <!--            
            <script type="text/javascript">
            skrollr.init({
                forceHeight: false
            });
            </script> -->

  <!--</div>main-->
</div><!--container-->

