---
title: Get Started with Royale
---

<section class="startHeader"> 	

	<div class="startCont">
    
      <div>
        <h1 >PhP<span>14,790</span></h1>
        <p>Low Start-up</p>
        <h2>Enjoy these Amazing Benefits</h2>
        <p>
        Up to 30% Lifetime Discount</br>
        1 Year Accident Insurance Coverage (Optionally renewable)</br>
        24/7 Online Independent Distributor's Tracking Center (IDTC)</br>
        Distributor ID</br>
        Brochure</br>
        AVP Disc
      </p>
      <h2>Ways to Earn</h2>
        <p>
        Direct Selling Program</br>
        Leveraging</br>
        Uni-Level Program</br>
        Multi-level Program</br>
        Incentive Program       
      </p>
      </div>
  </div>


    <div class="browse">
        <a href="#packages">
        <i class="fa fa-chevron-circle-down fa-2x"></i></a>
    </div> 
</section>

<div class="homeLink"> 
 <%= partial "partials/nav"%> 
</div> 


<div class="main">
  <section id="packages">
  <h1>Choose from the following Packages</h1>  
</section>

</div><!--.main--> 

<a href="#" class="scrollToTop"><span>Back To Top</span></a> 

